@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {--GVSU-Blue: rgb(0, 101, 164);}

body {font-family: 'Roboto', sans-serif; width: 80%; margin:auto;}

header, nav {color: #FFFFFF; background-color: var(--GVSU-Blue); font-size: 1.5em;}
header {padding: 1em 3em; font-size: 2em;}

h1 {padding: 0.5em 0; margin: 0; display: inline; font-size: 1em; font-weight: normal;}

/* GVSU Logo */
#gvsu-logo {
  float: right;
  height: 1em;
  width: auto;
  max-width: 60%;
}

nav {padding-bottom: 1em;}
nav a:link, a:visited {color: #FFFFFF;}
.active {text-decoration: none;}

main {background-color: rgb(232, 232, 232);}
article {padding: 0.5em;}

section {border: solid black 2px; padding: 0.5em; margin: 1em auto;}

h4 {margin: 0.5em auto;}

ul {margin: 0.5em auto;}


/*** Column CONTAINER ***/
.box-columns-space-around{display:flex;flex-direction:row;width:100%;justify-content:space-around;}
